@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

head{
font-family: Amatic SC;
}


h1{
	color: black;
	font-size: 75px;
	font-family: Amatic SC;
}

h2{
	color: black;
	font-size: 55px;
	font-family: Amatic SC;
}
body{
	background: floralwhite;
}
body {
	text-align: center;
}
h3{
	color: black;
	font-size: 55px;
	font-family: Amatic SC;
}

.button-blue {
	padding: 25px;
	background-color: floralwhite;
	border-radius: 7px;
	color: black;
	display: block;
}
.list-inline li {
	display: inline;

}
.list-inline {
	paddling: 0;
}

img{
	border-radius: 30%;
}

div{
	width: 75vw;
margin: 24px auto;
background-color: white;
padding: 24px 48px;
   border-radius: 10px;
   box-shadow: #0000005e 1px 5px 5px 2px;
}

#introduction-text {
	margin-bottom: 40px;
}

i{
	font-size: 35px;
	color: #46a6e0
}

ul{
	padding: 0;
}



.fa-instagram:{
	padding: 2px;
	background-color: deeppink;
	border-radius: 4px;
	color: white;
}

.fa-instagram:hover{
	background-color: white;
	color: deeppink;
	transition: 0.5s;
}

.fa-github-square:{
	padding: 2px;
	background-color: deeppink;
	border-radius: 4px;
	color: white;
}

.fa-github-square:hover{
	background-color: white;
	color: deeppink;
	transition: 0.5s;
}

.fa-airbnb:{
	padding: 2px;
	background-color: deeppink;
	border-radius: 4px;
	color: white;
}

.fa-airbnb:hover{
	background-color: white;
	color: deeppink;
	transition: 0.5s;
}


